@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
  .Header {
    font-size: 52px;
  }
}

@media screen and (min-device-width: 321px) {
  .Header {
    font-size: 72px;
  }
}

.Header {
  color: black;
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-weight: bold;
  margin: 24px;
  z-index: 10;
}
