.Input {
  padding: 8px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 16px;
  font-family: "Josefin Slab";
}

.DialogHeader {
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  border-bottom: 8px solid white;
  margin: 24px;
}

.ErrorBox {
  margin: 16px;
  color: red;
  text-align: center;
  font-family: "Josefin Slab";
}

.MessageBox {
  margin: 16px;
  text-align: center;
  font-family: "Josefin Slab";
}

.Dialog {
  width: 320px;
  height: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
