.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Amatic SC", cursive;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
}

.Footer div img {
  width: 26px;
}
