.App {
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
  background: #69f0ae;
}

.Main {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Main .Heading {
  font-family: "Amatic SC", cursive;
  font-size: 48px;
  font-weight: bold;
}

.Main .SubHeading {
  font-family: "Josefin Slab", sans-serif;
  margin-top: 14px;
  margin-bottom: 8px;
}

.Success {
  font-family: "Amatic SC", cursive;
  font-size: 48px;
  font-weight: bold;
  margin-top: 24px;
  text-align: center;
}
